<!-- string -->
<div>
  <label class="block text-gray-700 text-sm font-bold mb-2" for="<%= field.data_path %>">
    <%= field.label %>
  </label>
  <input type="text" name="<%= field.data_path %>" placeholder="<%= field.label %>" id="<%= field.data_path %>" class="form-input w-full border border-gray-300 rounded" required />
</div>

<!-- string -->