<!-- text_area -->
<div>
  <label class="block text-gray-700 text-sm font-bold mb-2" for="<%= field.data_path %>">
    <%= field.label %>
  </label>
  <textarea name="<%= field.data_path %>" placeholder="<%= field.label %>" id="<%= field.data_path %>" class="form-textarea w-full border border-gray-300 rounded" required></textarea>
</div>
<!-- text_area -->