<div id="open_asistant_manifest" x-show="open_asistant_manifest" class="absolute inset-0 bg-white bg-opacity-50 overflow-y-auto h-full w-full z-10" x-cloak>
  <div class="p-5 border h-full shadow-lg rounded-md bg-gray-200">
    <div class="bg-gray-300 p-4">
      <div class="p-4 flex justify-between items-start">
        <h1 class="text-xl font-bold text-gray-900 break-words">Asistentes GPT Inteligencia Artificial IIRESODH</h1>

        <button name="instructions" @click="open_asistant_manifest = false" class="modal-button text-gray-900">
          <i class="fas fa-window-close fa-3xl"></i>
          Close
        </button>
      </div>
      <table class="w-full table-auto">
        <thead>
          <tr class="bg-gray-300">
            <th class="px-4 py-2">Nombre</th>
            <th class="px-4 py-2">Descripción</th>
            <th class="px-4 py-2">Acción</th>
          </tr>
        </thead>
        <tbody>
          <% if (locals.chat_manifests)
          locals.chat_manifests.forEach(function(manifest, index) { %>
          <tr class="<%= index % 2 === 0 ? 'bg-gray-100' : 'bg-gray-200' %>">
            <td class="border px-4 py-2 text-gray-900 break-words"><%- manifest.name %></td>
            <td class="border px-4 py-2 text-gray-700"><%- manifest.description %></td>
            <td class="border px-4 py-2">
              <button hx-post="<%- locals.R.chat__post_create_session %>" hx-trigger="click" hx-vals='{"userId": "649c9e6009a907a8543f46e4",
                  "asistant_id": "<%- manifest.name %>","title": "New Chat"}' class="bg-blue-200 text-blue-900 py-2 px-4 rounded-md hover:bg-blue-400 focus:outline-none focus:shadow-outline">
                Iniciar Chat
              </button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>