<!--  
  Use this to get type safe variable on.ejs files comments ' Press Ctrl + Shift + P (or Cmd + Shift + P on macOS) to open the Command Palette.
Type "Change Language Mode" and select typescrpt or html

import { locals } from '../../UI_TYPE'

locals.
-->

<div id="chat_app_container">
  <main class="overflow-hidden w-full h-screen relative flex" x-data="{ open_asistant_manifest: <%- locals.chat_data_info ? false : true %> }">
    <!-- A -->
    <%- await include('assistant_manifest'); -%>
    <!-- B -->
    <%- await include('sidebar'); -%>
    <!-- C -->
    <% if (locals.chat_data_info) { %>
    <!-- D -->
    <%- await include('main_content_chat'); -%>
    <!-- when main_content_chat is render them open_asistant_manifest should be false-->
    <!-- E -->
    <% } else { %>
    <!-- F -->
    <!-- when main_content_chat is render them main_content_no_chat should be true-->
    <%- await include('main_content_no_chat'); -%>
    <!-- G -->
    <% } %>
  </main>
</div>